<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi. I am Nur Izfarwiza but people call me Efa. I just finished my Second Year of my degree in Computer Science at The University of Sheffield.
        And I am from Malaysia</p>
      </div>
      <div class="col-lg-4">
        <p>This Page is to Demonstrate Personal Projects that I have done over the years. </p>
      </div>
    </div>
  </div>
</section>
