<!-- Other Experience Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Other Experience</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <ul class="list-unstyled">
          <!-- International Engineering Ambassador -->
          <li>
            <h4>International Engineering Ambassador</h4>
            <p><strong>University of Sheffield</strong></p>
            <p>Sept 2022 – Present</p>
            <ul>
              <li>Communication: ability to develop presentations, deliver tours, and create engaging content for social media. This includes both written and verbal communication skills.</li>
              <li>Public Speaking: Delivering presentations and giving tours and the ability to speak clearly and engagingly in front of an audience.</li>
              <li>Adaptability: Tailoring presentations and tours to different audiences to promote the university to potential students.</li>
              <li>Content Creation: Created informative stories, showcasing your ability to develop engaging content for social media.</li>
            </ul>
          </li>
          
          <!-- Computer Science Student Ambassador -->
          <li>
            <h4>Computer Science Student Ambassador</h4>
            <p><strong>Department of Computer Science, University of Sheffield</strong></p>
            <p>Dec 2023 – Present</p>
            <ul>
              <li>Problem-Solving: Contributed to the setup of computer rooms and ensuring proper equipment to identify potential issues and take steps to ensure everything ran smoothly.</li>
              <li>Technical Knowledge: Guided future offer holders through engaging activities, including the utilization of the MIRO bot, a robot essential to one of the first-year modules.</li>
            </ul>
          </li>
          
          <!-- Computer Science Academic Representative -->
          <li>
            <h4>Computer Science Academic Representative</h4>
            <p><strong>University of Sheffield</strong></p>
            <p>Oct 2023 – Present</p>
            <ul>
              <li>Advocacy: Acted as a liaison to address and resolve academic or administrative issues raised by fellow Computer Science students.</li>
              <li>Communication: Communicated with people in my course regarding their views of each module to be presented in the Staff meeting.</li>
              <li>Teamwork: Collaborated with other Student representatives to collect feedback from Computer Science students regarding courses and assignments.</li>
            </ul>
          </li>
          
          <!-- Secretary of Skill Youth Career, SKY -->
          <li>
            <h4>Secretary of Skill Youth Career, SKY</h4>
            <p><strong>Sheffield Malaysian Student Association</strong></p>
            <p>Sept 2023 – Apr 2024</p>
            <ul>
              <li>Organisation: Orchestrated society meetings by preparing and distributing agendas, minutes, and pertinent documents for smooth proceedings.</li>
              <li>Public Speaking: Emceed the Career Empowerment Day and Sunway Drive events, showcasing adeptness in public speaking and event management.</li>
              <li>Project Management: Coordinated Dewan Mulia SMSA’s parliamentary debate for Malaysian students in the UK, securing an opening keynote speaker and recruiting judges.</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
